<!-- Mask & flexbox options-->
<header>
  <div class="container">
    <!--Grid row-->
    <div class="row mt-5">
      <!--Grid column-->
      <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
        <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Make
          your own VS Hunt! </h1>
        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
        <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">Fill out the form below however
          you like, in whatever scale you like. This can be in a single home, an entire city
          or any thing in between (or even above and beyond!). Remember, this is your Virtual
          Scavenger Hunt, so have fun with it. Happy hunting!</h6>
      </div>
      <!--Grid column-->
      <!--Grid column-->
      <div class="col-md-6 col-xl-5 mb-4">
        <!--Form-->
        <div class="card">
          <div class=" card-body">
            <!--Header-->
            <div class="text-center">
              <h2 class="white-text">
                <i class="fas fa-edit white-text"></i> Create Your Hunt:</h2>
              <hr class="hr-light">
            </div>
            <!--Body-->
            <div class="text-center">
              <h3 class="white-text">Your Hunt ID: </h3>
              <h3 class="red-text">679 586 241</h3>
              <p class="white-text">(Write this down to give to your players)</p>
              <hr class="hr-light">
            </div>
            <div class="md-form">
              <i class="fas fa-search prefix white-text active"></i>
              <input type="text" id="clue" class="white-text form-control">
              <label for="form3" class="active"> Hint/Clue/Question (Include any instructions)</label>
            </div>
            <div class="md-form">
              <i class="fas fa-check-circle prefix white-text active"></i>
              <input type="text" id="correctAns" class="white-text form-control">
              <label for="form2" class="active"> Correct Answer</label>
            </div>
            <div class="md-form">
              <i class="far fa-times-circle prefix white-text active"></i>
              <input type="text" id="wrongAnsOne" class="white-text form-control">
              <label for="form4"> Wrong Answer 1</label>
            </div>
            <div class="md-form">
              <i class="far fa-times-circle prefix white-text active"></i>
              <input type="text" id="wrongAnsTwo" class="white-text form-control">
              <label for="form4"> Wrong Answer 2</label>

            </div>
            <div class="md-form">
              <i class="far fa-times-circle prefix white-text active"></i>
              <input type="text" id="wrongAnsThree" class="white-text form-control">
              <label for="form4"> Wrong Answer 3</label>
            </div>
            <div class="text-center mt-4">
              <button class="btn btn-outline-white" id="add-button">Add Hunt Item</button>
              <div class="inline-ul text-center">
              </div>
            </div>
          </div>
        </div>
        <!--/.Form-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <hr class="hr-light">

  <!-- Content -->
</header>
<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col">
        <h3 class="h1-responsive font-weight-bold white-text wow fadeInLeft" data-wow-delay="0.3s">Your Hunt So Far:
        </h3>
        <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">

        <div id="questionList">

        </div>
      </div>

    </div>
    <br>
    <br>
    <div class="row">
      <button id="submit" class="btn btn-indigo btn-block">Create Your Hunt!</button>
    </div>
  </div>
</main>



{{!-- <script>
  // Animations init
  new WOW().init();

</script> --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/createHunt.js"></script>
