<div id="home" {{!-- class="view"
style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat;
background-size: cover; background-position: center center;" --}}>
  {{!-- <div class="mask rgba-gradient align-items-center"> --}}

  <div class="container">
    <div class="row">
      {{!-- hard-coded ID. Will need to use handlebars for actual update --}}
      <h5>Your Hunt ID is: 679586241</h5>
    </div>
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- msg from htmlroutes --}}
        <div class="text-center">
          <h1>{{msg}}</h1>
          <h2>Create your own hunt!</h2>
          <br>
        </div>
        {{!-- <p>Create each step in the hunt with the form below.</p>
        <p>Add as many steps/clues as you like! These can be in a smaller area (like a house) or even a city.</p>
        <p>Enjoy creating your Virtual Scavenger Hunt!</p> --}}


        <div class="row">
          <div class="col">
            <label for="example-text">
              <h5>Step 1: Hint/Clue</h5>
            </label>
            {{!-- <p>(Don't forget to include any necessary instructions player will need for this clue.) </p> --}}
            <input type="text" id="clue" class="form-control" aria-describedby="example-text"
              placeholder="Don't forget instructions!">
            <br>
            <p>What is the player looking for? If the clue requires instructions for clarity, put it here.</p>

          </div>
          <div class="col">
            <label for="example-text">
              <h5>Step 2: Correct Answer</h5>
            </label>
            <input type="text" id="correctAns" class="form-control" aria-describedby="example-text"
              placeholder="Correct Answer Here">
          </div>
          <div class="col">
            <label for="example-text">
              <h5>Step 3: Incorrect Answer</h5>
            </label>
            <input type="text" id="wrongAnsOne" class="form-control" aria-describedby="example-text"
              placeholder="Wrong Answer 1">
            <input type="text" id="wrongAnsTwo" class="form-control" aria-describedby="example-text"
              placeholder="Wrong Answer 2">
            <input type="text" id="wrongAnsThree" class="form-control" aria-describedby="example-text"
              placeholder="Wrong Answer 3">
          </div>

        </div>
        <br>
        <div class="row">
          <div class="col" id="add-button">
            <button type="submit" class="btn btn-secondary">Add Hunt Item!</button>
          </div>
        </div>


        <br>
        </form>
        <hr>
        <div>
          <h3>Your Hunt So Far:</h3>
          <div id="questionList">

          </div>
        </div>

      </div>
    </div>
    <br>
    <hr>
    <div class="row">
      <button id="submit" class="btn btn-primary btn-block">Create Your Hunt!</button>
    </div>
  </div>
  {{!-- </div> --}}
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/createHunt.js"></script>