<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <br>
        <img class="center" src="images/vsh_logo-betterVS.png" alt="hunt_logo">
        <br>
        <form class="form-inline">
          <div class="md-form">
            <h3 class="white-text">Enter Code</h3>

            {{!-- <label for="inputPassword6">Insert Game Code Here:</label> --}}
            <input type="text" inputmode="numeric" minlength="9" maxlength="11" class="white-text form-control"
              aria-describedby="passwordHelpInline" id="tbNum" onkeyup="addHyphen(this)">
            {{!-- <small id="passwordHelpInline" class="text-muted">
              Must be 8-20 characters long.
            </small> --}}
            {{!-- <input type="button" value="Play" id="playHunt"> --}}

            <button class="btn btn-indigo" id="add-button" value="Play" id="playHunt">Hunt!</button>
            <div class="inline-ul text-center"></div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div id="create">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <button id="createhuntbtn" type="button" class="btn btn-outline-white">CREATE YOUR OWN HUNT</button>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

<script>
  function addHyphen(element) {
    let ele = document.getElementById(element.id);
    ele = ele.value.split('-').join('');    // Remove dash (-) if mistakenly entered.

    let finalVal = ele.match(/.{1,3}/g).join('-');
    document.getElementById(element.id).value = finalVal;
  };

  document.getElementById("createhuntbtn").onclick = function () {
    location.href = "/createhunt";
  };

  document.getElementById("playHunt").onclick = function () {
    location.href = "/play";
  };
</script>
