<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <br>
        <img src="http://via.placeholder.com/640x360" alt="hunt_logo">
        <br>
        <br>
        <h3>Enter Code</h3>
        <form class="form-inline">
          <div class="form-group">
            {{!-- <label for="inputPassword6">Insert Game Code Here:</label> --}}
            <input type="password" id="game-code" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
            {{!-- <small id="passwordHelpInline" class="text-muted">
              Must be 8-20 characters long.
            </small> --}}
            <input type="submit" value="Play">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<div id="create">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <button type="button" class="btn btn-primary btn-lg">CREATE A HUNT</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>