.list-group-item {
  line-height: 2.5;
}

#create {
  text-align: center;
}

#home {
  text-align: center;
}

form {
  margin: 0 auto;
  width: 250px;
}

input {
  text-align: center;
}

img {
  height: 400px;
  width: 400px;
}